/* Custom CSS to reduce margin-bottom of h1 */
.header h1 {
  color: blue;
  padding-bottom: 10px;
  margin-bottom: 0px; /* Adjust this value as needed */
}

.navbar-nav {
  width: 100%;
  display: inline;
  justify-content: space-between;
}

.divtopcorner{
    position:absolute;
    top:0px;
    right: 150px;
    color:black;
    text-align:center;
    padding:5px;
  }
.header{
    color:black;
    text-align:center;
    padding:5px;
  }
.manulist{
    display:inline;
    left:100px;
}
.menulista {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

.menulista:hover {
    background-color: orange;
}
